<!DOCTYPE html>
<html>
<head>
    <title>Flask Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Simple  Calculator</h1>

        <form method="POST">

            <input type="number" step="any" name="num1" placeholder="Enter first number" required>

            <input type="number" step="any" name="num2" placeholder="Enter second number" required>

            <select name="operation">
                <option value="add">Addition (+)</option>
                <option value="subtract">Subtraction (-)</option>
                <option value="multiply">Multiplication (*)</option>
                <option value="divide">Division (/)</option>
            </select>

            <button type="submit">Calculate</button>

        </form>

        {% if result is not none %}
            <h2>Result: {{ result }}</h2>
        {% endif %}
    </div>

</body>
</html>